<h1>Edit Donut</h1>

<form action='/donuts/{{donut._id}}?_method=PUT' method='POST'>
    <div>Donutname: <input type='text' name='donutname' value='{{donut.donutname}}'></div>
    <div>City: <input type='text' name='city' value='{{donut.city}}'></div>
    <div><input type='submit' value='Update donut'></div>
</form>