<h1>Edit Donut</h1>

<form action='/donuts/{{donut._id}}?_method=PUT' method='POST'>
    <div>Donut Name: <input type='text' name='donutname' value='{{donut.name}}'></div>
    <div><input type='submit' value='Update Donut'></div>
</form>