<h1>New Donut</h1>

<form action='/donuts' method='POST'>
    <div>Donutname: <input type='text' name='donutname'></div>
    <div>City: <input type='text' name='city'></div>
    <div><input type='submit' value='Create New donut'></div>
</form>