<h1>That's a Fine Donut</h1>

<div>Name: {{donut.name}}</div>
<div>Description: {{donut.description}}</div>


<form action='/donuts/{{donut._id}}?_method=DELETE' method='POST'>
    <input type="submit" value="Delete Donut">
</form>

<div><a href='/donuts/{{donut._id}}/edit'>Edit Donut</a></div>
<div><a href='/donuts'>Go Back to Donuts</a></div>